
<%# coding: UTF-8 -%>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "login-form" }) do |f| %>
  <h3 class="form-title">Mg注册</h3>
  <%= f.error_messages %>
  <% unless flash[:alert].nil? %>
  <div class="alert alert-danger">
    <button class="close" data-dismiss="alert"></button>
    <span><%= flash[:alert] %></span>
  </div>
  <% end %>
  <div class="form-group">
    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
    <label class="control-label visible-ie8 visible-ie9">账号</label>
    <div class="input-icon">
      <i class="fa fa-user"></i>
      <%= f.email_field :email, :class => "form-control placeholder-no-fix", :autocomplete =>"off", :tabindex => 1, :accesskey => 'u',:placeholder => '邮箱',autofocus: true %>
     
    </div>
  </div>
  <div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">密码</label>
    <div class="input-icon">
      <i class="fa fa-lock"></i>
      <%= f.password_field :password, :class => "form-control placeholder-no-fix", :autocomplete =>"off", :tabindex => 1, :accesskey => 'u',:placeholder => '密码' %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">确认密码</label>
    <div class="input-icon">
      <i class="fa fa-lock"></i>
      <%= f.password_field :password_confirmation, :class => "form-control placeholder-no-fix", :autocomplete =>"off", :tabindex => 1, :accesskey => 'u',:placeholder => '确认密码' %>
    </div>
  </div>
  <div class="form-actions">
   
    <button type="submit" class="btn green pull-right" accesskey="l" tabindex="4" id="login-submit">
    注册  <i class="m-icon-swapright m-icon-white"></i>
    </button>
  </div>
<% end %>