

<%= form_for([:admin,@article], :html => { :class => "form-horizontal" }) do |f| %>
  <div class="form-body">
    <%= f.error_messages %>
    <h4 class="form-section">基本信息</h4>
    <div class="form-group">
      <%= render "shared/column", name: "标题", content: f.c_text_field(:title) %>
      <% if current_user.is_admin %>
      <%= render "shared/column", name: "作者", content: f.collection_select(:user_id,User.editors,:id,:name,{:include_blank => true,:selected => current_user.id}, {:class => 'form-control select2me'}) %>
      <% end %>
      <%= render "shared/column", name: "类别", content: f.select(:category, OPTIONS["categoies"], {}, :class => 'form-control select2me') %>
    </div>
    <div class="form-group">
      <%= render "shared/column", name: "游戏", content: f.collection_select(:game_id,Game.all,:id,:name,{:include_blank => true}, {:class => 'form-control select2me'}) %>
      <%= render "shared/column", name: "主题", content: f.select(:topic, OPTIONS["topics"], {:include_blank => true}, :class => 'form-control select2me') %>
    </div>
    <div class="form-group">
      <%= render "shared/column_file", name: "背景图(1600x648)", content: f.file_field(:head_img), url:@article.head_img.url %>
      <%= render "shared/column_file", name: "缩略图(982x400)", content: f.file_field(:avatar), url:@article.avatar.url %>
    </div>
    <div class="form-group">
      <label class="control-label col-md-1">优点</label>
      <div class="col-md-5">
        <%=f.c_text_field(:advantage_list,class: 'tag_select form-control') %>
      </div>
      <label class="control-label col-md-1">缺点</label>
      <div class="col-md-5">
        <%=f.c_text_field(:disadvantage_list,class: 'tag_select form-control') %>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-md-1">简介</label>
      <div class="col-md-11">
        <%= f.text_area(:summary, :class => "form-control") %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-1">总评</label>
      <div class="col-md-11">
        <%= f.text_area(:quote, :class => "form-control") %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-1">内容</label>
      <div class="col-md-11">
        <%= f.cktext_area(:content, :class => "form-control") %>
      </div>
    </div>
    
  </div>

  <div class="form-actions right">
    <button type="submit" class="btn">保存</button>
  </div>
<% end %>
<% content_for :page_scripts do %>
  <%= javascript_include_tag "games" %> 
<% end %>
