<% content_for :page_title do %>
<%= render "title_bar",title:title,path: path %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box">
      <div class="dataTables_wrapper form-inline" role="grid">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <%= form_tag path, :method => 'get' do %>
            <div class="dataTables_filter pull-left">
              <label>
                关键字:<%= text_field_tag :search, params[:search], :class => "form-control input-small" %>
              </label>
              <%= submit_tag '查询', :name => nil, :class => 'btn' %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>标题</th>
                <th>作者</th>
                <th>类别</th>
                <th>发表时间</th>
                <th>背景图</th>
                <th>缩略图</th>
                <th>引用</th>
                <th>属于游戏</th>
                <th>主题</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% articles.each do |f| %>
                <tr class="<%=!f.topic.blank? ? 'success' : '' %>">
                  <%= omission_td(10, f.title) %>
                  <td><%= f.user.name if f.user %></td>
                  <td><%= f.category %></td>
                  <td><%= f.posted_at.strftime('%y-%m-%d %H:%M:%S') %></td>
                  <th><%=image_hover('背景图' ,f.head_img.url) %></th>
                  <th><%=image_hover('缩略图' ,f.avatar.url) %></th>
                  <%= omission_td(10, f.quote) %>
                  <td><%= f.game.name if f.game %></td>
                  <td><%= f.topic %></td>
                  <td>
                   
                    <%= link_to '编辑', edit_admin_article_path(f) %>
                    <%= link_to '删除', admin_article_path(f), method: :delete, data: { confirm: '确定删除?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate articles, :theme => "admin" %>
        </div>
      </div>
    </div>
  </div>
</div>
