<div class="container-wrap" style="background:no-repeat url(<%=@article.head_img.url(:medium) if @article%>) 50% 0">
  <div class="container" style="height:648px">
    <div class="carousel_text">
      <h2><%=@article.title%></h2>
      <div class="carousel_tags"><span class="article_author">作者 <%=@article.user.pet_name%></span> <span class="publish_date">发表于 <%=@article.created_at.strftime('%Y年%m月%d日')%></span>  <span class="sns_btn clearfix"> <a href="javascript:;" class="like like-active" title="收藏">like</a> <a href="javascript:;" class="share" title="分享">share</a> </span></div>
    </div>
  </div>
</div>
<div class="container-wrap">
  <div class="container main-content">
    <div class="row"> 
      <!-- content article and score -->
      <div class="exarticle_container">
        <div class="exarticle_pic"><img src="/front/img/review-content.jpg" alt=""></div>
        <div class="exarticle_score">
          <div class="score">
                  <div class="mg-score">8</div>
                  <div class="avg-score">8.5</div>
                </div>
            <div class="right_and_wrong clearfix">
              <ul class="right_list">
                <li>COD原班人马</li>
                  <li>机甲和人类双对战</li>
                  <li>游戏平衡性很高</li>
                </ul>
                <ul class="wrong_list">
                <li>地图太大</li>
                  <li>没有单人模式</li>
                </ul>
            </div>
          <div class="author_info">
              <div class="author_wrap">
                  <div class="author_pic"><a href="#"><!-- <img src="img/jp_head.jpg" alt="Bobby Kotick"> --></a></div>
                    <div class="sns_btn"><a href="javascript:;" class="share" title="分享">share</a></div>
                    <div class="author_name"><a href="#">基王</a></div>
                </div>
                <div class="author_intro">
                  <p>游戏的水准其实只在中上，游戏的水准其实只在中上，游戏的水准其实只在中上，游戏的水准其实只在中上，游戏的水准其实只在中上，游戏的水准其实只在中上，游戏的水准其实只在中上，游戏的水准其实只在中上，游戏的水准其实只在中上。</p>
          <p>游戏的水准其实只在中上，游戏的水准其实只在中上。</p>
                </div>
          </div>
        </div>
      </div>
      <!-- //content article and score -->
    </div>
  </div>
  <div class="container main-content">
    <div class="row"> 
      <!-- 右边栏-->
      <div class="main_aside">
        <div class="aside_box black_bg">
          <%=render 'widgets/game_info', game:@article.game%>
        </div>
      </div>
      <!-- //右边栏--> 
      <!-- 左内容-->
      <div class="main_container clearfix">
        <div class="exarticle_article">
          <div class="container_comment" style="margin-top:0;">
              <h3>评论</h3>
              <div class="comment-list" id="comment-list" name="comment-list">
                <% @article.comments.each do |c|%>
                  <div class="comment_block">
                      <div class="comment-author"><a href="个人页.html"><img src="<%=c.user.avatar.url%>" alt="" /></a></div>
                        <div class="comment-text"><%=c.content%></div>
                        <div class="comment-about"><a href="#comment-list" class="reply">回复</a><a href="/users?user_name=<%=c.user.pet_name%>"><%=c.user.pet_name%></a> 发表于<%=c.created_at.strftime('%Y年%m月%d日')%></div>
                    </div>
                <% end %>
              </div>
              <%= form_for(@article) do |f| %>
                <%= f.fields_for :comments,  @article.errors.count > 0 ? @article.comments.last : @article.comments.build  do |c| %>
                  <div class="comment-form">
                    <div class="comment-tr">
                      <%=c.text_area(:content, placeholder: current_user.nil? ? '请登录评论' : '在评论里用@某人 的形式可以召唤某人', rows:'5', cols: '5') %>
                    </div>
                  </div>
                  <% if current_user %>
                    <div class="comment-submit clearfix">
                      <input type="image" src="/front/images/comment_submit.png"  class="fl" alt="发表评论" onclick="submit();">
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- //左内容--> 
    </div>
  </div>
</div>