<ul class="nav navbar-nav">
  <li class="classic-menu-dropdown">
    <a id="menu_dashboard" href="/admin/home/index">
      控制台
    </a>
  </li>
  <% if can? :edit, :game_menu %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      游戏信息<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "游戏列表", admin_games_path, { id: "menu_game" } %>
      </li>
    </ul>
  </li>
  <% end %>
  <% if can? :edit, :news_menu %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      新闻信息<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "新闻列表", admin_news_index_path, { id: "menu_news" } %>
      </li>
    </ul>
  </li>
  <% end %>
  <% if can? :edit, :article_menu %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      文章信息<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "文章列表", admin_articles_path, { id: "menu_article" } %>
      </li>
      <li>
        <%= link_to "前瞻", previews_admin_articles_path, { id: "menu1_article" } %>
      </li>
      <li>
        <%= link_to "评测", evaluations_admin_articles_path, { id: "menu2_article" } %>
      </li>
      <li>
        <%= link_to "业界评论", voices_admin_articles_path, { id: "menu3_article" } %>
      </li>
    </ul>
  </li>
  <% end %>
  <% if can? :edit, :profile %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      用户信息<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "用户列表", admin_users_path, { id: "menu_myprofile" } %>
      </li>
    </ul>
  </li>
  <% end %>
  <% if can? :edit, :voice_menu %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      业界声音<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "业界声音", admin_voices_path, { id: "menu_voice" } %>
      </li>
    </ul>
  </li>
  <% end %>


<% content_for :page_scripts do %>
  <%= javascript_include_tag 'highlight_menu', 'data-turbolinks-track' => false %>
<% end %>