<li class="<%= menu_is_active?('home') ? "active" : "" %>">
  <a href="/">
    控制台
    <span class="selected">
    </span>
  </a>
</li>

<li class="<%= menu_is_active?('aa_vendors') ? "active" : "" %>">
  <a>
    我的信息
    <span class="arrow"></span>
  </a>
  <ul class="sub-menu">
    <li>
      
    </li>
  </ul>
</li>

<li class="<%= menu_is_active?('apps') ? "active" : "" %>">
  <a>
    我的任务
    <span class="arrow"></span>
  </a>
  <ul class="sub-menu">
    <li>
      
    </li>
  </ul>
</li>

<li class="<%= menu_is_active?('collects') ? "active" : "" %>">
  <a>
    收款记录
    <span class="arrow"></span>
  </a>
  <ul class="sub-menu">
    <li>
      
    </li>
  </ul>
</li>

<li class="<%= menu_is_active?('accounting_jobs') ? "active" : "" %>">
  <a>
    我的结算
    <span class="arrow"></span>
  </a>
  <ul class="sub-menu">
   
  </ul>
</li>