<!--content-->
<div class="container-wrap" style="background:no-repeat url(<%=@topic.head_img.url(:medium)%>) 50% 0">
  <div class="container" style="height:648px">
    <div class="carousel_text">
      <h2><a href="#"><%=@topic.title%></a></h2>
      <p><%=@topic.summary%></p>
    </div>
    <!-- <div class="score">
      <div class="mg-score">8</div>
      <div class="avg-score">8.5</div>
    </div> -->
  </div>
</div>
<div class="container-wrap" >
  <div class="container main-content">
    <div class="row"> 
      <!-- 右边栏-->
      <div class="main_aside">
        <div class="aside_box">
          <%=render "widgets/advertise" %>
        </div>
        <div class="aside_box white_bg">
          <%=render "widgets/game_sale", games:@games %>
        </div>
        <div class="aside_box black_bg">
          <%=render "widgets/game_hot", game:@hot_game %>
        </div>
        <div class="aside_box white_bg">
          <%=render "widgets/voice",voices:@voices %>
        </div>
      </div>
      <!-- //右边栏--> 
      <!-- 左内容-->
      <div class="main_container clearfix">
        <div class="container_banner">
          <div class="container_block m_block">
            <div class="container_blockin">
              <div class="container_wrap">
                <div class="common_title">
                  <h4>头条新闻</h4>
                </div>
                <div class="sns_btn"> <a href="javascript:;" class="like like-active" title="收藏">like</a> <a href="javascript:;" class="share" title="分享">share</a> </div>
                <div class="news_title"><a href="/news/<%=@head_news.id%>"><%=@head_news.title%></a></div>
                <div class="comment_num"><%=@head_news.comments.length%></div><a href="/news/<%=@head_news.id%>" class="container_mask"></a>
                <div class="container_pic"><a href="/news/<%=@head_news.id%>"><img src="<%=@head_news.head_img.url(:thumb)%>" alt="" /></a></div>
              </div>
              <div class="hotnews_text">
                <p><%=@head_news.content.length>300 ? @head_news.content[0,300]+"..." :  @head_news.content%></p>
                <div class="writer"><span class="date">发布于<%=time_words(@head_news.created_at)%>前</span><a href="#">文/<%=@head_news.user.pet_name%></a></div>
              </div>
            </div>
          </div>
          <% @news.each do |n| %>
            <div class="container_block s_block">
              <div class="container_blockin">
                <div class="container_wrap">
                  <div class="common_title">
                    <h4>新闻</h4>
                  </div>
                  <div class="sns_btn"> <a href="javascript:;" class="like like-active" title="收藏">like</a> <a href="javascript:;" class="share" title="分享">share</a> </div>
                  <div class="news_title"><a href="#"><%=n.title%></a></div>
                  <div class="comment_num"><%=n.comments.length%></div><a href="/news/<%=n.id%>" class="container_mask"></a>
                  <div class="container_pic"><a href="#"><img src="<%=n.head_img.url(:thumb)%>" alt="" /></a></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% @articles.each do |f| %>
          <div class="container_block b_block">
            <div class="container_blockin">
              <div class="container_wrap">
                <div class="common_title">
                  <h4><%=f.category%></h4>
                </div>
                <div class="sns_btn"> <a href="javascript:;" class="like like-active" title="收藏">like</a> <a href="javascript:;" class="share" title="分享">share</a> </div>
                <div class="news_detail">
                  <h3><a href="#"><%=f.title%></a></h3>
                  <div class="ralative_tags"> <span><a href="#"><%=f.game.name if f.game%></a></span> <span><%=(f.game.sale_date.strftime('%y年%m月%d日')+"发售") if f.game && f.game.sale_date%></span> <span><a href="#">by <%=f.user.pet_name if f.user%></a></span> </div>
                  <div class="detail_text"><%=f.summary%></div>
                </div>
                <div class="comment_num"><%=f.comments.length%></div><a href="/articles/<%=f.id%>" class="container_mask"></a>
                <div class="container_pic"><a href="#"><img src="<%=f.avatar.url(:medium)%>" alt="" /></a></div>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @articles, :theme => "front" %>
        <!-- <div class="dispage">
          <a href="#" class="prev">上一页</a>
          <a href="#">1</a>...&nbsp;<a href="#">5</a><a href="#">6</a><a href="#">7</a>...&nbsp;<a href="#">11</a>
          <a href="#" class="next">下一页</a></div>
        <div class="load_tip"><a href="javascript:;">给爷往下加载！</a></div> -->
        <div class="clear"></div>
      </div>
      <!-- //左内容--> 
    </div>
  </div>
</div>


