<!--content-->
<div class="container-wrap" style="background:no-repeat url(<%=@topic.head_img.url if @topic%>) 50% 0;background-size:cover;">
  <div class="container" style="height:648px">
    <div class="carousel_text">
      <h2><a href="#"><%=@topic.title if @topic%></a></h2>
      <p><%=@topic.summary if @topic%></p>
    </div>
    <!-- <div class="score">
      <div class="mg-score">8</div>
      <div class="avg-score">8.5</div>
    </div> -->
  </div>
</div>
<div class="container-wrap" >
  <div class="container main-content">
    <div class="row"> 
      <!-- 右边栏-->
      <div class="main_aside">
        <div class="aside_box">
          <%=render "widgets/advertise" %>
        </div>
        <div class="aside_box white_bg">
          <%=render "widgets/game_sale", games:@games %>
        </div>
        <div class="aside_box black_bg">
          <%=render "widgets/game_hot", game:@hot_game %>
        </div>
        <div class="aside_box white_bg">
          <%=render "widgets/voice",voices:@voices %>
        </div>
      </div>
      <!-- //右边栏--> 
      <!-- 左内容-->
      <div class="main_container clearfix">
        <div class="container_banner">
          <%=render "widgets/head_news", head_news:@head_news, title: '头条新闻' %>
          <% @news.each do |n| %>
            <%=render 'widgets/news_info',news:n, title:'新闻' %>
          <% end %>
        </div>
        <% @articles.each do |f| %>
          <%=render "widgets/article_list_info", article:f%>
        <% end %>
        <%= paginate @articles, :theme => "front" %>
        <!-- <div class="dispage">
          <a href="#" class="prev">上一页</a>
          <a href="#">1</a>...&nbsp;<a href="#">5</a><a href="#">6</a><a href="#">7</a>...&nbsp;<a href="#">11</a>
          <a href="#" class="next">下一页</a></div>
        <div class="load_tip"><a href="javascript:;">给爷往下加载！</a></div> -->
        <div class="clear"></div>
      </div>
      <!-- //左内容--> 
    </div>
  </div>
</div>


