<!--content-->
<div class="container-wrap" style="background:no-repeat url(<%=@head_news.head_img.url if @head_news%>) 50% 0;background-size:cover;">
  <div class="container" style="height:648px;">
    <div class="carousel_text">
      <h2><%=@head_news.title%></h2>
    </div>
  </div>
</div>
<div class="container-wrap">
  <div class="container">
    <div class="row"> 
      <!-- 右边栏-->
      <div class="main_aside">
        <div class="aside_box white_bg">

        </div>
        <div class="aside_box white_bg">
          <%=render "widgets/game_sale", games:@games %>
        </div>
        <div class="aside_box black_bg">
          <%=render "widgets/game_hot", game:@hot_game %>
        </div>

      </div>
      <!-- //右边栏--> 
      <!-- 左内容-->
      <div class="main_container clearfix">
        <div class="container_date">
          <div class="container_date_in">
            <span class="week"><%=I18n.t(Time.now.wday,scope: [:date,:day_names]) %></span>
            <span class="month-day"><%=Time.now.strftime('%m.%d')%></span>
          </div>
        </div>
        <div class="container_banner">
          <%=render "widgets/head_news", head_news:@head_news, title: '头条新闻' %>
          <% @news.each do |n| %>
            <%=render 'widgets/news_info',news:n, title:'新闻' %>
          <% end %>
        </div>
        <%= paginate @news, :theme => "front" %>
        <div class="clear"></div>
      </div>
      <!-- //左内容--> 
    </div>
  </div>
</div>
<!--//content--> 
