<div class="common_title clearfix"> <a href="/games" class="aside_more">查看所有<span>&gt;</span></a>
  <h4>游戏发售表</h4>
</div>
<div class="sales_wrap">
  <% games.each do |f| %>
    <div class="sales_block clearfix">
      <div class="sales_date"> <span class="month"><%=I18n.t(f.sale_date.month,scope: [:date,:month_match]) if f.sale_date%></span> <span class="day"><%=f.sale_date.day if f.sale_date%></span> </div>
      <dl class="sales_game">
        <dt><a href="/games/<%=f.id%>"><%=f.name%></a></dt>
        <% f.tags.limit(4).each_with_index do |tag,index|%>
          <dd class="style<%=index+1%>"><%=tag.name%></dd>
        <% end %>
      </dl>
    </div>
  <% end %>
</div>
