<% if game %>
<div class="common_title clearfix"><a href="/games" class="aside_more">查看所有<span>&gt;</span></a>
  <h4>热评游戏</h4>
</div>
<div class="hotreview_game">
  <div class="game_pic_wrap">
    <div class="game_pic"><a href="/games/<%=game.id%>"><img src="<%=game.avatar.url %>" alt="<%=game.name %>" /></a></div>
    <div class="game_score">5</div>
  </div>
  <div class="game_info">
    <div class="game_name"><a href="/games/<%=game.id%>"><%=game.name%></a></div>
    <div class="game_sdate"><%=game.sale_date.nil? ? '发售日未知' : game.sale_date.strftime('%y年%m月%d日')+'发售'%></div>
  </div>

  <!-- 评论-->
  <div class="game_comment">
    <% game.comments.each do |f|%>
      <div class="comment_block">
      <div class="user_head"><a href="#"><img src="<%=f.user.avatar.url(:thumb)%>" alt="<%=f.user.pet_name%>" /></a></div>
      <div class="comment_text"><%=f.content %><a href="#" class="user-name">by <%=f.user.pet_name%></a></div>
      </div>
    <% end %>
  </div>
  <!-- //评论--> 
</div>
<% end %>