<div class="common_title clearfix">
  <h4>搜索游戏</h4>
</div>
<form action="/games/search" method="get" id='game_search_form'>
<div class="search_wrap">
      <div id="search-outer">
      <div id="search">
        <div id="search-box">
            <input type="text" name="game_search" id="game_search" value="<%=params[:game_search]%>" placeholder="请输入想要搜索的内容" class="ui-autocomplete-input" autocomplete="off">
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
        </div>
      </div>
    </div>
</div>
<div class="game_search">

  <div class="search_block clearfix">
    <div class="search_title">搜索条件</div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">平台</div>
    <div class="search_option">
    <select name="platform" >
      <option value="">所有平台</option>
      <%=options_for_select(OPTIONS["platforms"],params[:platform])%>
    </select>
    </div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">主题</div>
    <div class="search_option"><select><option selected>所有主题</option><option>其它</option></select></div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">最低分</div>
    <div class="search_option"><input type="input" name="min_score" value="<%=params[:min_score]%>" /></div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">语言</div>
    <div class="search_option"><select><option selected>所有语言</option>
    <option>英语</option>
    <option>日语</option>
    </select></div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">发售日期</div>
    <div class="search_option"><input type="input" class="datepicker" name="start_at" value="<%=params[:start_at]%>"  placeholder='起始日期'></div>
     <div class="search_option"><input type="input" class="datepicker" name="end_at" value="<%=params[:end_at]%>" placeholder='结束日期'></div>
  </div>
</div>
</form>