 <% if head_news %>
  <div class="container_block m_block">
    <div class="container_blockin">
      <div class="container_wrap">
        <div class="common_title">
          <h4><%= title%></h4>
        </div>
        <div class="sns_btn">
          <%=render "widgets/like",remote_url: "/ajax/user_favorites/news/#{head_news.id}",obj:head_news %>
        </div>
        <div class="news_title"><a href="/news/<%=head_news.id%>"><%=raw raw_title(head_news.title) %></a></div>
        <div class="comment_num"><%=head_news.comments.length%></div><a href="/news/<%=head_news.id%>" class="container_mask"></a>
        <div class="container_pic"><img src="<%=head_news.list_img.url%>" alt="" /></div>
      </div>
      <div class="hotnews_text">
        <p><%=head_news.content.length>300 ? head_news.content[0,300]+"..." :  head_news.content%></p>
        <div class="writer"><span class="date">发布于<%=time_words(head_news.created_at)%>前</span>文/<%=head_news.user.pet_name%></div>
      </div>
    </div>
  </div>
<% end %>

