<div class="container_block s_block">
  <div class="container_blockin">
    <div class="container_wrap">
      <div class="common_title">
        <h4><%= title%></h4>
      </div>
      <div class="sns_btn">
        <%=render "widgets/like",remote_url: "/ajax/user_favorites/news/#{news.id}",obj:news %>
      </div>
      <div class="news_title"><a href="#"><%=raw raw_title(news.title)%></a></div>
      <div class="comment_num"><%=news.comments.length%></div><a href="/news/<%=news.id%>" class="container_mask"></a>
      <div class="container_pic"><a href="#"><img src="<%=news.list_img.url(:thumb)%>" alt="" /></a></div>
    </div>
  </div>
</div>