<div class="container-wrap" style="background:no-repeat url(<%=@topic.head_img.url(:medium) if @topic%>) 50% 0;background-size:cover;">
  <div class="container" style="height:648px">
    <div class="carousel_text">
      <h2><a href="/games/<%=@topic.game.id if @topic && @topic.game%>"><%=@topic.game.name if @topic && @topic.game%></a></h2>
      <div class="carousel_tags"><span class="game_tips"><%=@topic.game.sale_date.strftime('%Y年%m月%d日')+'上市' if @topic && @topic.game && @topic.game.sale_date %></span><span class="sns_btn clearfix"> 
      
      </span></div>
    </div>
  </div>
</div>
<div class="container-wrap">
  <div class="container main-content">
    <div class="row"> 
      <!-- 右边栏-->
      <div class="main_aside">
        <div class="aside_box white_bg">
          <div class="aside_fav"> <span class="date"><%=Time.now.strftime('%Y年%m月')%></span> <span class="subject">最<a href="/games">热门</a>游戏</span> <span class="tips">登录来为您喜爱的游戏投票</span> </div>
        </div>
        <div class="aside_box black_bgs">
          <div class="aside_fav"> <span class="date"><%=Time.now.strftime('%Y年%m月')%></span> <span class="subject">最<a href="/games/expect">受期待</a>游戏</span> <span class="tips">登录来为您喜爱的游戏投票</span> </div>
        </div>
        <div class="aside_box white_bg">
          <%=render "widgets/game_sale",games:@game_sales %>
        </div>
        <div class="aside_box white_search">
          <%=render "widgets/game_search" %>
        </div>
        <div class="aside_box">
          <%=render "widgets/advertise" %>
        </div>
      </div>
      <!-- //右边栏--> 
      <!-- 左内容-->
      <div class="main_container clearfix">


        <div class="container_banner">
          <div class="container_date" style="padding-bottom:0;">
            <div class="container_date_all"> <span class="title">游戏搜索结果</span> </div>
          </div>
        </div>
        <div class="container_banner">
          
         
         
            <div class="gamesales_list">
            <% @game_results.each do |game| %>
              <div class="gamesales_block clearfix">
              <div class="gamesales_author"><a href="/games/<%=game.id%>"><img src="<%=game.avatar.url%>" alt=""></a></div>
              <div class="gamesales_text <%=game.score.to_f > 0 ? 'has_score' : '' %>">
                <% if game.score.to_f > 0%>
                  <div class="score <%=game.sale_date <= Date.today ? 'score-whitebg' : '' %>">
                    <div class="mg-score"><%=game.score%></div>
                    <div class="avg-score"><%=game.avg_score%></div>
                  </div>
                <% end %>
                <div class="game_name"><a href="/games/<%=game.id%>"><%=game.name%></a></div>
                <ul class="game_system">
                  <% random_ary = (1..(game.tags.length)).to_a.shuffle %>
                  <% game.tags.each_with_index do |tag,index|%>
                    <li class="style<%=random_ary[index]%>"><%=tag.name%></li>
                  <% end %>
                </ul>
                <div class="game_detail"><%=game.summary%></div>
              </div>
              </div>
            <% end %>
          
       
        </div>

        <%= paginate @game_results, :theme => "front" %>
        <div class="clear"></div>
      </div>
      <!-- //左内容--> 
    </div>
  </div>
</div>
