<% content_for :page_title do %>
<%= render "title_bar" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box">
      <div class="dataTables_wrapper form-inline" role="grid">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <%= form_tag admin_voices_path, :method => 'get' do %>
            <div class="dataTables_filter pull-left">
              <label>
                关键字:<%= text_field_tag :search, params[:search], :class => "form-control input-small" %>
              </label>
              <%= submit_tag '查询', :name => nil, :class => 'btn' %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>账号</th>
                <th>职称</th>
                <th>内容</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @voices.each do |f| %>
                <tr>
                  <td><%= f.user_name %></td>
                  <td><%= f.user_title %></td>
                  <%= omission_td(15, f.content) %>
                  <td>
                    <%= link_to '编辑', edit_admin_voice_path(f) %>
                    <%= link_to '删除', admin_voice_path(f), method: :delete, data: { confirm: '确定删除?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @voices, :theme => "admin" %>
        </div>
      </div>
    </div>
  </div>
</div>